* {
	box-sizing: border-box;
	border-collapse: collapse;
}

body {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

p {
    margin: 0;                      
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.outer-wrapper {
    width: 700px;
    min-width: 700px;
    max-width: 700px;

    margin: 0 auto;
}

.header {
    margin-bottom: 20px;
}

.menu {
    overflow: hidden;
    padding: 10px 5px 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.menu-item {
    display: inline-block;
    margin-right: 35px;
}

.menu-item:last-child {
    float: right;
	margin-right: 0;
}

.menu-item:nth-child(5) {
    width: 120px;
    margin-left: 150px;
    margin-right: 0;
    border: 1px solid rgba(121, 121, 121, 1);
    border-radius: 5px;

    text-align: center;
}

.menu-btn {
	display: inline-block;
    color: black;
    background-color: rgba(255, 255, 255, 1);
    border: none;
	cursor: pointer;
	text-decoration: none;
}


.main {
    margin-top: 20px;
}

.content {
    position: relative;
}

.list-item {
    display: flex;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.17);
}

.list-item::before {
    content: '';
    width: 15px;
}

[data-project-status="new"]::before {
    background-color: rgba(153, 204, 102, 1);
}

[data-project-status="resolved"]::before {
    background-color: rgb(39, 21, 202);
}

[data-project-status="rejected"]::before {
    background-color: rgb(238, 5, 5);
}

[data-project-status="done"]::before {
    background-color: rgb(0, 0, 0);
}

.list-item_text {
    width: 620px;
    margin-right: 20px;
}

.list-item_control {
    display: flex;
    flex-wrap: wrap;
}

.btns {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.btn {
    width: 73px;
    height: 33px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(121, 121, 121, 1);
    border-radius: 5px;
    cursor: pointer;
}

.list-item_info {
    display: flex;
    justify-content: space-between;
}

.modal {
    display: none;
}

.modal.active {
    display: block;
}