html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
    overflow: auto;
    resize: vertical;
}

.header {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 10px 0 10px 0;
    margin-bottom: 20px;

    background: rgb(40, 43, 68);
    color: #fff;
}

.projects-list {
    padding: 0;
}

.list-item {
    display: flex;
    justify-content: space-between;

    min-width: 300px;
    max-width: 800px;

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    padding: 4px;

    border: 1px solid rgba(153, 204, 102, 1);
    border-left-width: 12px;
    border-radius: 10px;

    box-shadow: 5px 5px 5px rgba(153, 204, 102, 0.17);
}

[data-project-status="resolved"] {
    border-color: rgba(39, 21, 202, 1);
    box-shadow: 5px 5px 5px rgba(39, 21, 202, 0.17);
}

[data-project-status="reject"] {
    border-color: rgba(238, 5, 5, 1);
    box-shadow: 5px 5px 5px rgba(238, 5, 5, 0.17);
}

[data-project-status="done"] {
    border-color: rgba(0, 0, 0, 1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.17);
}

.list-item_text {
    margin-bottom: 0;
    max-width: 620px;
}

.list-item_control {
    display: flex;
    flex-direction: column;
}

.list-item_info {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.target-lang_holder {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.target-lang {
    font-weight: bold;
}

.deadline {
    margin-bottom: 0;
    text-align: right;
}

.modal.active {
    display: block;
    overflow-y: auto;
}

.modal-footer {
    display: flex;
}